<div class="weui-mask" [@visibility]="_visibility" (click)="hide()"></div>
<div class="weui-popup" [ngClass]="{ 'weui-popup_toggle': _shownAnt }">
  <div class="weui-popup__hd" *ngIf="!config.is_full&&config.is_head">
    <a href="#" class="weui-popup__action" (click)="onCancel()">{{ config.cancel }}</a>
    <a href="#" class="weui-popup__action" (click)="onConfirm()">{{ config.confirm }}</a>
  </div>
  <div class="weui-popup_content" [ngClass]="{ 'weui-popup_full': config.is_full }">
    <ng-content></ng-content>
  </div>
</div>
