<div class="weui-mask" [ngClass]="{ 'weui-mask__in': shown }" (click)="hide(true)"></div>
<div class="weui-dialog" [ngClass]="{ 'weui-dialog__in': shown,'weui-dialog__prompt': config.type === 'prompt' }" #container>
  <div class="weui-dialog__hd" *ngIf="config.title">
    <strong class="weui-dialog__title">{{ config.title }}</strong>
  </div>
  <div class="weui-dialog__bd" *ngIf="config.content" [innerHTML]="config.content"></div>
  <div class="weui-cells" *ngIf="config.type === 'prompt' && shown">
    <ng-container [ngSwitch]="config.input">
      <div *ngSwitchCase="'textarea'" class="weui-cell" [ngClass]="{ 'weui-cell_warn': promptError }">
        <div class="weui-cell__bd">
          <textarea class="weui-textarea" placeholder="{{config.inputPlaceholder}}" [(ngModel)]="promptData" (ngModelChange)="_change()"></textarea>
        </div>
      </div>
      <div *ngSwitchCase="'select'" class="weui-cell weui-cell_select">
        <div class="weui-cell__bd">
          <select class="weui-select" [(ngModel)]="promptData" (ngModelChange)="_change()">
            <option *ngFor="let i of config.inputOptions" [ngValue]="i">{{ i.text }}</option>
          </select>
        </div>
      </div>
      <div *ngSwitchCase="'radio'" class="weui-cells_radio">
        <label class="weui-cell weui-check__label" *ngFor="let i of config.inputOptions">
          <div class="weui-cell__bd">
            <p>{{ i.text }}</p>
          </div>
          <div class="weui-cell__ft">
            <input type="radio" (click)="promptData = i" [checked]="i == promptData" (change)="_change()" class="weui-check"/>
            <span class="weui-icon-checked"></span>
          </div>
        </label>
      </div>
      <div *ngSwitchCase="'checkbox'" class="weui-cells_checkbox">
        <label class="weui-cell weui-check__label" *ngFor="let i of config.inputOptions">
          <div class="weui-cell__hd">
            <input type="checkbox" [checked]="promptData.includes(i)" [value]="i" (change)="_updatePromptData($event,i)" class="weui-check"/>
            <i class="weui-icon-checked"></i>
          </div>
          <div class="weui-cell__bd">
            <p>{{ i.text }}</p>
          </div>
        </label>
      </div>
      <div *ngSwitchDefault class="weui-cell" [ngClass]="{ 'weui-cell_warn': promptError }">
        <div class="weui-cell__bd">
          <input type="{{ config.input }}" class="weui-input" placeholder="{{ config.inputPlaceholder }}"
                 [(ngModel)]="promptData" [maxlength]="config.inputAttributes.maxlength"
                 (ngModelChange)="_change()" (keyup)="_keyup($event)"/>
        </div>
        <div class="weui-cell__ft">
          <i class="weui-icon-warn" *ngIf="promptError"></i>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="weui-dialog__error" *ngIf="promptError">{{ config.inputError }}</div>
  <div class="weui-dialog__ft">
    <a href="#" *ngFor="let btn of config.buttons" class="weui-dialog__btn weui-dialog__btn_{{ btn.type }}"
       (click)="_onSelect(btn)">{{ btn.text }}</a>
  </div>
</div>
